<section id="about">
	<div class="container">
		<div class="row">
			<div class="column column-80-md column-offset-10-md">
				<h1>Who I am</h1>
				<p>My name is Peter. Maiden LLC is my creative outlet for video production, web development, and digital marketing&mdash;with a hint of chaos. I lead a team of several driven freelancers tied together by an instinct for radical design, working around the globe for clients big and small. We are inspired by diligence, we thrive on the arcane, and we always seek to instill in our creations a taste of something feral. Intrigued? <a href="#contact">Get in touch</a> to go deeper.</p>
				<ul class="inline-links">
					<li><a href="#rules">my rules</a></li>
					<li><a href="#services">video production</a></li>
					<li><a href="#services">web development</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>