<section id="contact">
	<div class="container">
		<div class="row">
			<div class="contact-header column column-80-lg column-offset-10-lg column-90-md column-offset-5-md">
				<div class="left">
					<h1>New project? Do tell.</h1>
				</div>
				<div class="right">
					<div class="human">
						<img src="images/peter.jpg"/>
						<div class="popup">PETER KOEPPEN,<br/>Team Lead<div class="arrow"></div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column column-80-lg column-offset-10-lg column-90-md column-offset-5-md">
				<p class="contact-description">Contact me at <a href="mailto:inquiry@maiden.agency"><span>inquiry(at)maiden.agency</span></a>, or use the form below.</p>
			</div>
		</div>
		<form method="POST" action="https://formspree.io/peter@maiden.agency">
			<div class="row">
				<div class="column column-40-lg column-offset-10-lg column-45-md column-offset-5-md">
					<input type="email" name="email" placeholder="Enter your email" tabindex="1">
				</div>
				<div class="column column-40-lg column-45-md">
					<input type="tel" name="phone" placeholder="Enter your phone number" tabindex="2">
				</div>
			</div>
			<div class="row">
				<div class="column column-80-lg column-offset-10-lg column-90-md column-offset-5-md">
					<textarea name="message" placeholder="Tell me more about your project" tabindex="3"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="column column-80-lg column-offset-10-lg column-90-md column-offset-5-md">
					<button class="button submit-button" type="submit">Submit</button>
				</div>
			</div>
		</form>

	</div>
</section>