<section id="footer">
	<div class="container">
		<nav>
			<div class="left">
				<ul>
					<li><a href="">blog</a></li>
					<li><a href="mailto:jobs@maiden.agency"><div class="circle"></div>we're hiring</a></li>
					<li><a href="#contact">contact</a></li>
					<li><a href="">legal</a></li>
				</ul>
			</div>
			<div class="right">
				<ul>
					<li><a href="https://www.instagram.com/maiden.agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
					<li><a href=""><i class="fab fa-behance-square"></i></a></li>
					<li><a href=""><i class="fab fa-dribbble-square"></i></a></li>
				</ul>
			</div>
		</nav>
		<hr/>
		<div class="copyright">
			&copy; 2016 &ndash; 2019 Maiden LLC
		</div>
	</div>
</section>