<section id="links">
	<div class="container">
		<div class="row">
			<div class="column column-50-md office-container">
				<div class="row">
					<div class="column">
						<div class="header">Offices</div>
					</div>
				</div>
				<div class="row">
					<div class="office column column-50-xs">
						<div class="icon">
							<svg id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.43 255.43"><title>Untitled-1</title><circle cx="127.72" cy="127.72" r="127.72" style="fill:#0c0a0a"/><path d="M407.49,362.82a67.11,67.11,0,0,1,5.07-25.65,69.89,69.89,0,1,0,90.53,86.76,67.33,67.33,0,0,1-95.6-61.11Z" transform="translate(-308.74 -275.13)" style="fill:#999"/></svg>
						</div>
						<div class="office-details">
							<div class="location-big">Chicago</div>
							<div class="location-small">Ravenswood</div>
							<div class="address"><a href="#">4700 N Ravenswood Ave<br/>Chicago, IL 60640</a></div>
							<div class="number"><a href="tel:+14157928030">(415) 792-8030</a></div>
						</div>
					</div>
					<div class="office column column-50-xs">
						<div class="icon">
							<svg id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.43 255.43"><title>Moon</title><circle cx="127.72" cy="127.72" r="127.72" style="fill:#0c0a0a"/><path d="M407.49,362.82a67.11,67.11,0,0,1,5.07-25.65,69.89,69.89,0,1,0,90.53,86.76,67.33,67.33,0,0,1-95.6-61.11Z" transform="translate(-308.74 -275.13)" style="fill:#999"/></svg>
						</div>
						<div class="office-details">
							<div class="location-big">Salzburg</div>
							<div class="location-small">Salzburg Stadt</div>
							<div class="address"><a href="#">Strubergasse 1<br/>5020 Salzburg</a></div>
							<div class="number"><a href="tel:+49017665292417">+49 0176.65292417</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="column column-50-md blog-container">
				<div class="row">
					<div class="column">
						<div class="header">Blog : Pending</div>
					</div>
				</div>
				<div class="row blog">
					<div class="blog-shaded"></div>
				</div>
			</div>
		</div>
	</div>
</section>