<div class="bm">
	<div class="container">
		<a href=""><div id="bm-logo"></div></a>
	</div>
</div>
<header class="navigation">
	<nav class="container">
		<div class="left">
			<div id="logo"></div>
		</div>
		<div class="right">
			<ul>
				<li><a href="#services" class="underline"><span>video production</span></a></li>
				<li><a href="#services" class="underline"><span>web development</span></a></li>
				<li><a href="#contact" class="button button-outline">inquire</a></li>
				<li>
					<div id="menu-toggle">
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
							<g fill="#121C25" fill-rule="evenodd">
								<rect width="24" height="2" y="0"></rect>
								<rect width="24" height="2" y="7"></rect>
								<rect width="24" height="2" y="14"></rect>
							</g>
						</svg>
					</div>
				</li>
			</ul>
		</div>
		<div id="menu-overlay" class="hidden">
			<div class="container">
				<div class="menu-items">
					<ul class="menu-items-large">
						<li class="active"><a href="">home</a></li>
						<li><a href="#services">video production</a></li>
						<li><a href="#services">web development</a></li>
						<li><a href="#contact">contact me</a></li>
					</ul>
					<ul class="menu-items-small">
						<li><a href="#about">who i am</a></li>
						<li><a href="mailto:jobs@maiden.agency"><div class="circle"></div>i'm hiring</a></li>
						<li><a href="">blog</a></li>
					</ul>
					<ul class="menu-items-social">
						<li><a href="https://www.instagram.com/maiden.agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-behance-square"></i></a></li>
						<li><a href=""><i class="fab fa-dribbble-square"></i></a></li>
					</ul>
					<a href="mailto:inquiry@maiden.agency" class="email">inquiry(at)maiden.agency</a>
				</div>
			</div>
		</div>
	</nav>
</header>