<section id="process">
	<div id="petals">
		<img src="images/petals.png"/>
	</div>
	<div id="petals-overlay">
		<img src="images/petals_overlay.png"/>
	</div>
	<div class="container">
		<div id="maiden" class="row row-justify-center">
			<div class="column column-80-lg">
				<img src="images/maiden.png"/>
			</div>
		</div>
		<div class="row process-items">
			<div class="column column-32-md process-item" data-process-item="1">
				<svg id="alchemy-icon-1" data-name="alchemy-icon-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140.1 391.93"><title>alchemy-icon-1</title><path d="M579,673.28h8.5a49.34,49.34,0,0,0-45-49.08V542.56h65.8l-70.05-88-70.05,88H534V624.2a49.34,49.34,0,0,0-45,49.08h8.5A40.83,40.83,0,0,1,534,632.73V763.95H493.22v8.5H534v24.62a24.88,24.88,0,1,0,8.5,0V772.45h40.78v-8.5H542.5V632.73A40.83,40.83,0,0,1,579,673.28Zm-40.78-205.1,52.42,65.88H485.82Zm16.38,353.4a16.38,16.38,0,1,1-16.38-16.38A16.4,16.4,0,0,1,554.63,821.57Z" transform="translate(-468.19 -454.53)"/></svg>
				<h3>1. discover</h3>
				<p>I explore your vision, determine costs &amp; draft a plan.</p>
				<hr/>
				<p>1 Consultant</p>
			</div>
			<div class="column column-32-md process-item" data-process-item="2">
				<svg id="alchemy-icon-2" data-name="alchemy-icon-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248.13 387.21"><title>alchemy-icon-2</title><path d="M1296.06,553.87h0L1355.23,455H1107.1l59.17,98.88h0l60.57,101.23v41h-40v8.64h40v22.61a28.47,28.47,0,0,0,0,56.3v42.06l-18.94-18.94-6.11,6.11,29.37,29.37,29.37-29.37-6.11-6.11-18.94,18.94V783.61a28.47,28.47,0,0,0,0-56.3V704.7h40v-8.64h-40v-41Zm-60.57,84.41V472.37l55,74ZM1340,463.64l-44.7,74.71-55.53-74.71Zm-117.42,0L1167,538.35l-44.7-74.71Zm-50.72,82.73,55-74V638.28Zm39.44,209.09a19.9,19.9,0,0,1,15.55-19.39v38.77A19.9,19.9,0,0,1,1211.29,755.46Zm39.74,0a19.9,19.9,0,0,1-15.55,19.39V736.08A19.9,19.9,0,0,1,1251,755.46Z" transform="translate(-1107.1 -455)"/></svg>
				<h3>11. design</h3>
				<p>Creation begins. I scaffold the project & iterate ideas.</p>
				<hr/>
				<p>2-3 Designers<br/>1 Project Manager</p>
			</div>
			<div class="column column-32-md process-item" data-process-item="3">
				<svg id="alchemy-icon-3" data-name="alchemy-icon-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146.2 385.21"><title>alchemy-icon-3</title><path d="M371.25,769.24V719.06h42.06l-42.06-72.84V612h55.68v-8.5H371.25V530a73.19,73.19,0,0,0,68.85-73h-8.5a64.6,64.6,0,0,1-129.2,0h-8.5a73.19,73.19,0,0,0,68.85,73v73.55H307.07V612h55.68v34.2l-42.06,72.84h42.06v50.18a73.19,73.19,0,0,0-68.85,73h8.5a64.6,64.6,0,0,1,129.2,0h8.5A73.19,73.19,0,0,0,371.25,769.24Zm27.33-58.68H371.25V663.22Zm-63.17,0,27.33-47.34v47.34Z" transform="translate(-293.9 -457)"/></svg>
				<h3>111. deliver</h3>
				<p>Your vision is realized & perfected before final delivery.</p>
				<hr/>
				<p>2-3 Developers/Editors<br/>1 Project Manager</p>
			</div>
		</div>
		<div class="row row-justify-center">
			<div class="column column-60-md">
				<h2>It takes an architect to build a giant. I make it easy.</h2>
			</div>
		</div>
		<div class="row row-justify-center">
			<div class="column column-80-md">
				<p>My cumulative expertise in video production and web development is what drives me to excellence. I never get caught in creative limbo, because I stick to only what I do best. I under-promise and over-deliver; I do great work because I love the work I do. My process is simple, efficient, and effective. The fruits of my labor aren't borne out of a simple contract, but the promise to my clients to deliver killer results&mdash;every time.</p>
			</div>
		</div>
	</div>
</section>