<section id="rules">
	<div class="container">
		<div class="row">
			<div class="column column-80 column-offset-10">
				<h3>Rules of engagement</h3>
				<ul class="rule-items">
					<li class="rule-item"><span>1.</span> Maintenance of personal integrity: I will never accept work I will not enjoy. Ever.</li>
					<hr/>
					<li class="rule-item"><span>11.</span> Passion mindset: I will always grant full effort to each project, regardless of the price tag.</li>
					<hr/>
					<li class="rule-item"><span>111.</span> Creative independence: I observe modern design trends, but I will never use them as a crutch.</li>
					<hr/>
					<li class="rule-item"><span>1v.</span> Function over form: Practicality and performance always come first, followed by a pretty exterior.</li>
					<hr/>
					<li class="rule-item"><span>v.</span> Non-interference agreement: The client will abstain from meddling and trust me in my work.</li>
				</ul>
			</div>
		</div>
	</div>
</section>